*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
datacleanup/target/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
datacleanup/project/target/
datacleanup/project/.idea/
