*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
datacleanup/target/*
lib_managed/
src_managed/
datacleanup/project/boot/
datacleanup/project/plugins/project/
datacleanup/project/target/
datacleanup/project/.idea/
datacleanup/.idea/
datacleanup/project/project/
